<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.atmecs.blazedemo_automation.DemoBlazesignup"/>
      <class name="com.atmecs.blazedemo_automation.DemoBlazeAddtocart"/>
      <class name="com.atmecs.blazedemo_automation.DemoBlazePlaceOrder"/>
      <class name="com.atmecs.blazedemo_automation.DemoBlazelogin"/>
      <class name="com.atmecs.blazedemo_automation.DemoBlazeContactus"/>
    </classes>
  </test> 
</suite> 
